@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" );
body{
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: black;
}
 h1{
    color: rgb(255, 187, 0);
    font-size: 40;
    font-family:'Poppins';
    }
 p{
    color:rgb(255, 187, 0); 
    font-size: 30px;
    font-family:'Poppins' ;
 }